<div class="bg">

    <div class="parent">
        <div class="child">
            <div nz-col>
                <h1 style="margin-left: 55px;">Registro de Compañía</h1>
            </div>

            <form nz-form [formGroup]="validateForm"(ngSubmit)="submitForm()">

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="El correo ingresado no es válido.">
                        <input nz-input placeholder="E-mail" formControlName="email" id="email"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="La clave ingresada no es correcta.">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="email"/>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="La clave ingresada no es correcta.">
                        <input nz-input type="password" placeholder="Confirm Password" formControlName="checkPassword" id="email"/>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="El nombre ingresado no es válido.">
                        <input nz-input placeholder="Name" formControlName="name" id="email"/>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="La dirección ingresada no es válida.">
                        <input nz-input placeholder="Address" formControlName="address" id="email"/>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="El teléfono ingresado no es válido.">
                        <input nz-input placeholder="phone" formControlName="phone" id="email"/>
                    </nz-form-control>
                </nz-form-item>

                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
                    Registro
                </button>
                O <a routerLink="/login">¡Loguéate ahora!</a>
            </form>
        </div>
    </div>

</div>
